.bg-blue {
  background: #6db2ff;
}
.text-white {
  color: white;
}
.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.main-container {
  max-width: 600px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.vh-100 {
  height: 100vh;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.space-around {
  justify-content: space-around;
}
