.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.main-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.vh-100 {
  height: 100vh;
}
.vh-90 {
  height: 90vh;
}
.vh-60 {
  height: 60vh;
}
.vh-5 {
  height: 5vh;
}

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-block {
  width: 100%;
  height: 50px;
  border-radius: 100px;
}

.bg-white {
  background: white;
}
.bg-gray {
  background: #eee;
}
.bg-dark-gray {
  background: #ccc;
}
.bg-red {
  background: red;
}
.bg-lime {
  background: lime;
}
.bg-green {
  background: #34d034;
}
.bg-orange {
  background: orange;
}
.bg-blue {
  background: #6db2ff;
}

.text-black {
  color: black;
}
.text-dark-gray {
  color: #aaa;
}
.text-darker-gray {
  color: #888;
}
.text-gray {
  color: #ccc;
}
.text-white {
  color: white;
}
.text-blue {
  color: #6db2ff;
}
.text-orange {
  color: #e0960d;
}
.text-xl {
  font-size: 50px;
}
.text-bold {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.text-normal {
  text-decoration: none;
}

.dot {
  border-radius: 100px;
  transition: width 0.5s, height 0.5s, background 0.5s;
}
.dot.lg {
  width: 18px;
  height: 18px;
  background: white;
}
.dot.sm {
  width: 8px;
  height: 8px;
  background: #98c9ff;
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}
.z-index-1 {
  z-index: 1;
}

.cloud {
  left: 100%;
  position: absolute;
  height: 120px;
  animation: move-left infinite 40s linear;
}
@keyframes move-left {
  from { left: 100%; }
  to { left: -50%; }
}

.icon {
  height: 10vh;
}
.icon.lg {
  height: 20vh;
}
.icon-container {
  height: 15vh;
  width: 15vh;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.top-bar-back-button {
  height: 20px;
}

.language-container {
  height: 60px;
  display: flex;
  align-items: center;
}
.language-container > .flag {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 30px;
  flex: 1;
  padding-bottom: 15px;
}
.language-container > .language {
  border-bottom: 1px solid #ddd;
  flex: 9;
  padding-bottom: 15px;
  padding-left: 10px;
}

.input-block {
  width: 100%;
  height: 50px;
  border: 0;
  padding: 10px;
  font-size: 18px;
}
.border-top-gray {
  border-top: 1px solid #ccc;
}
.border-white {
  border: 2px solid white;
}
.mt-5 {
  margin-top: 50px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.ml-1 {
  margin-left: 10px;
}
.pt-3 {
  padding-top: 30px;
}
.btn-icon {
  height: 20px;
}
.bg-dark-blue {
  background: #3e3ede;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.social-login-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.checkbox {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox-circle {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
.checkbox-circle-container {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-circle.selected {
  background: #6db2ff;
}
.checkbox-circle-container.selected {
  border: 2px solid #6db2ff;
}

.path-icon {
  height: 50px;
  background: white;
  border-radius: 100px;
}

.gray-progress-bar {
  height: 5px;
  width: 85%;
  background: #ccc;
  position: relative;
}
.green-progress-bar {
  position: absolute;
  border-radius: 100px;
  top: -2.5px;
  left: -1px;
  height: 10px;
  transition: width 1s;
}
.gray-progress-x {
  font-size: 30px;
  color: #ccc;
}
.rounded-card {
  background: white;
  border-radius: 20px;
  width: 50%;
  height: 30vh;
  margin: 40px auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-card-text {
  font-size: 50px;
}
.rounded-card-play-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
}
.multiple-choice-btn {
  border: 2px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.multiple-choice-btn-circle {
  border: 2px solid #ccc;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
.multiple-choice-btn.selected {
  border: 2px solid #6db2ff;
  background: rgba(109, 178, 255, 0.45);
}
.multiple-choice-btn.selected > .multiple-choice-btn-circle {
  border: 2px solid #6db2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.multiple-choice-btn.selected > .multiple-choice-btn-circle > .circle {
  border-radius: 100px;
  background: #6db2ff;
  width: 12px;
  height: 12px;
}
.solution-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px 1px;
  transition: bottom 0.3s, display 0.3s;
}
.solution-banner > .correct-solution {
  font-size: 18px;
  font-weight: 300;
}
.solution-banner.correct {
  background: #d7f99c;
  color: #34d034;
}
.solution-banner.incorrect {
  background: pink;
  color: red;
}
.solution-banner.shown {
  bottom: 20%;
}
.solution-banner.hidden {
  bottom: -100%;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.modal-container {
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
}
.modal {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.modal-shown {
  display: block;
}
.modal-hidden {
  display: none;
}

.answer-card-container {
  display: flex;
  flex-wrap: wrap;
}
.answer-card-inner-container {
  padding: 10px;
  width: 50%;
}
.answer-card {
  background: white;
  border-radius: 20px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.answer-card.selected {
  border: 2px solid #6db2ff;
  background: rgba(109, 178, 255, 0.45);
}
.answer-card.sound-card {
  height: 20vh;
  font-size: 30px;
}

.block-container {
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.block {
  background: white;
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
}
.block.selected {
  background: #6db2ff;
  color: white;
}
.block.faded {
  color: #eee;
}

.sound-btn {
  background: #6db2ff;
  border-radius: 100px;
  width: 20vh;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sound-btn img {
  width: 10vh;
}

.translation-textbox {
  width: 100%;
  height: 50vh;
  margin: 20px 0;
  border: 0;
  resize: none;
  font-size: 20px;
  padding: 10px;
}
.translation-textbox::placeholder {
  color: #ccc;
}
.translation-textbox:focus {
  outline: none;
}

.progress-circle, .progress-circle-inner {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #e0960d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle > .progress-circle-inner {
  width: 30px;
  height: 30px;
  background: #eee;
}
.progress-circle.big {
  width: 20vh;
  height: 20vh;
}
.progress-circle.big > .progress-circle-inner {
  width: 15vh;
  height: 15vh;
  background: #eee;
}

.shadow-top-bar, .shadow-bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px 1px;
}
.shadow-top-bar {
  top: 0;
}
.shadow-bottom-bar {
  bottom: 0;
  height: 60px;
}

.lesson-card {
  width: 200px;
  background: white;
  height: 40vh;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
